$gray_white: #f0f0f0;
$primary_black: #1a1a1a;
$gold: #e1a87a;

* {
  box-sizing: border-box;
}

html {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: $gray_white;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url('/img/office.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100%;
}

header {
  height: 9rem;
  background-color: $primary_black;
}
.logo {
  display: flex;
  position: absolute;
  color: #fff;
  font-size: 4em;
  font-weight: bolder;
  margin-top: 1rem;
  margin-left: 6rem;
}

nav {
  text-align: right;
  padding-top: 50px;
  
}

nav a {
  display: inline;
  padding: 0 1rem;
  
  margin-right: 9.5rem;
  color: #fff;
  text-decoration: none;
  line-height: 2rem;
}

.uvod {
  height: calc(100vh - 100px); 
}

.moto {
  display: flex;
  height: 19rem;
  width: 56.25rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* align-content: stretch; */
  font-size: 2rem;
}

em {
  border-bottom: 4px solid #1a1a1a;
  font-style: normal;
  color: #e1a87a;
}
/* About */

#about {
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: space-evenly;
  vertical-align: middle;
  background: rgba(#000, .6);
  padding-bottom: 40px;

.coding {
  display: flex;
  background: transparent;
  flex-direction: flex-end;
  padding-top: 40px;
  width: 276px;
  height: 386px;
}
}
img {
  max-width: 100%;
  max-height: 100%;
}

.passion {
  width: 40%;
  color: $gray_white;
  font-size: 1.5rem;
  font-weight: 100;
  padding-top: 30px;

  em {
    color: $gray_white;;
    border-bottom: solid $gold;
  }
  
}

.btn {
  width: 10rem;
  margin-top: 1rem;
  padding: 0.2rem;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-weight: 900;
  border: 2px solid $gold;
  border-radius: 1px;
  color: rgb(48, 47, 47);;
}

/* Section for its own */

.nadpis {
  background: rgba(#000, .6);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $gray_white;
  padding-top: 15px;

  .nadpis h1 {
    margin: 0;
  }
  
}

/* another section of its own */

.discover {
  display: flex;
  justify-content: center;
  align-content: center;
  color: $gray_white;
  background: rgba(#000, .6);
  text-align: center;
}


.line {
  display: flex;
  justify-content: space-around;
  color: $gray_white;
  background: rgba(#000, .6);
  padding-bottom: 15vh;
  padding-top: 10vh;

  .block-line {
    width: 25%;
    justify-content: space-around;

    h1 {
      text-align: center;
      color: $gold;
    }

    p {
      text-align: center;
    }
  }
  
}

#work {
  display: flex;
  height: 760px;
  width: 100%;
  background: rgba(#000, .6);
  justify-content: center;
  padding-top: 0;
  
  .mrizka1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
  } 
  .mrizka2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
  } 
  
  .mrizka3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
  }
    
  .tabul {
    width: 300px;
    height: 200px;
    color: #1a1a1a;
    transition: transform .2s;
    
      /* transition effect. not necessary */
     /*  transition: opacity .2s, visibility .2s; */
    }
    .tabul:hover {
      transform: scale(1.5);
      filter: grayscale(100%);
      /* filter: blur(4px); */
      /* filter: sepia(1); */
  /*       filter: brightness(0.7);
 */      
      
      }
      
  }

  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  
  visibility: visible;
  opacity: 1;*/


.tabul p {
  opacity: 0;
  text-align: center;
  padding: 5rem;
  text-justify: auto;
  color: $primary_black;
  
}

.tabul p:hover {
  opacity: 2;  
  
  /* color: $primary_black; */
}

.tabul1 {
  background-image: url('/img/basketball.png');
  /* text-align: center;
  padding: 5rem;
  text-justify: auto;
  color: $gray_white; */
  
}

.tabul2 {
  background-image: url('/img/cafe.png');
  text-align: center;
}
.tabul3 {
  background-image: url('/img/hotel.png');
  text-align: center;
}

.tabul4 {
  background-image: url('/img/climb.png');
  text-align: center;
}

.tabul5 {
  background-image: url('/img/terasa.png');
  text-align: center;
}

.tabul6 {
  background-image: url('/img/train.png');
  text-align: center;
}

.tabul7 {
  background-image: url('/img/fit.png');
  text-align: center;
}

.tabul8 {
  background-image: url('/img/boat.png');
  text-align: center;
}

.tabul9 {
  background-image: url('/img/golf.png');
  text-align: center;
}

 /*-----Resume----*/

#skills {
  display: flex;
  min-height: 20rem;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(#000, .6);
}

.day-to-day {
  display: flex;
  flex-direction: column;
   
}
.experience {
  display: flex;
  flex-direction: column;
}

progress[value] {
  background-color: #eee;
  width: 250px;
  height: 20px;
  display: none;
}

progress[value]::-webkit-progress-bar {
 
  background-color: #eee;
  border-radius: 2px;
}
li:hover + progress {
  display: inline;
  
}


/* -----Contact--- */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 24rem;
  background: rgba(#000, .6);
  padding: 1.5rem;
}

.contact-form {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  
} 

.form-group {
  display: flex;
  
  color: $gray_white;
  
}

.form-control {
  justify-content: center;
  background: transparent;
  width: 20rem;
  padding: 1rem;
	border: none;
  border-bottom: 2px dashed #fff;
 
} 

::placeholder {
  color: $gray_white;
}



/* .contact-info {
  padding-top: 3rem;
}

.follow {  
  display: flex;
  color: #1a1a1a;
  background: transparent;
  padding: 1rem;
	border: none;
  border-bottom: 2px dashed #fff;

  b {
    margin: 0 1rem 0 1rem;
  }

  i {
    margin-left: 1rem;
    color:#fff;
  }

  a {
    list-style: none;
    display: inline;
  }
}
 */




 /*-----Footer---*/

 footer {
  background-color: $primary_black;
 }

.footer-header {
  text-align: center;
  margin-bottom: 20px;
  padding: 1rem;
  
  h1 {
    margin: 0;
  }
}


.footer-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

.footer-nav a {
  text-align: center;
  color: #fff;
  text-decoration: none; 
}

footer p {
  text-align: center;
  margin-top: 40px;
  color: #7A7D7F;
}

.social {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 20px;
}

.social i {
  text-decoration: none;
  margin: 40px; 
  text-align: center;
  color: #fff;
}

.social .fa {
  height: 25px;
  width: 25px;
  color: #1a1a1a;
  background: #fff;
  padding: 4px;
  border-radius: 50%;
}
